In [1]:
# Pandas for managing datasets
import numpy as np
import pandas as pd

In [2]:
# math for operating numbers
import math

In [3]:
# Change pd displayg format for float
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
# Matplotlib for additional customization
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (16.0, 8.0) #視覺圖放大一倍，預設 (8.0,4.0)
plt.rcParams['image.interpolation'] = 'nearest'

In [5]:
# Seaborn for plotting and styling
import seaborn as sns
#Seaborn set() to set aesthetic parameters in one step.
sns.set()

In [6]:
# Read dataset
df = pd.read_csv('../../datasets/homecdt_eda/application_train.csv')

In [7]:
df.shape

(307511, 122)

In [103]:
# This is use for simplify the coding process
# After coding is complete, should replace all dfp-->df, and remove this cell
# Reference: https://yiidtw.github.io/blog/2018-05-29-how-to-shuffle-dataframe-in-pandas/
dfp= df.sample(n = 1000).reset_index(drop=True)
dfp.shape

(1000, 122)

In [104]:
dfp.head(3)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,163840,0,Cash loans,F,N,Y,0,"76,500.00","675,000.00","21,906.00",...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00
1,102742,0,Cash loans,F,Y,Y,0,"270,000.00","932,427.00","59,719.50",...,0,0,0,0,0.00,0.00,0.00,0.00,0.00,2.00
2,429312,0,Cash loans,F,N,Y,0,"202,500.00","652,311.00","25,407.00",...,0,0,0,0,0.00,0.00,0.00,0.00,2.00,7.00

### 重複值

In [105]:
with pd.option_context('display.max_rows', 200, 'display.max_columns', 200):
    print(dfp.apply(lambda x:x.unique().shape[0]))

SK_ID_CURR                      1000
TARGET                             2
NAME_CONTRACT_TYPE                 2
CODE_GENDER                        2
FLAG_OWN_CAR                       2
FLAG_OWN_REALTY                    2
CNT_CHILDREN                       6
AMT_INCOME_TOTAL                  96
AMT_CREDIT                       490
AMT_ANNUITY                      790
AMT_GOODS_PRICE                  199
NAME_TYPE_SUITE                    7
NAME_INCOME_TYPE                   4
NAME_EDUCATION_TYPE                5
NAME_FAMILY_STATUS                 5
NAME_HOUSING_TYPE                  6
REGION_POPULATION_RELATIVE        77
DAYS_BIRTH                       967
DAYS_EMPLOYED                    716
DAYS_REGISTRATION                961
DAYS_ID_PUBLISH                  899
OWN_CAR_AGE                       36
FLAG_MOBIL                         1
FLAG_EMP_PHONE                     2
FLAG_WORK_PHONE                    2
FLAG_CONT_MOBILE                   2
FLAG_PHONE                         2
FLAG_EMAIL                         2
OCCUPATION_TYPE                   19
CNT_FAM_MEMBERS                    7
REGION_RATING_CLIENT               3
REGION_RATING_CLIENT_W_CITY        3
WEEKDAY_APPR_PROCESS_START         7
HOUR_APPR_PROCESS_START           18
REG_REGION_NOT_LIVE_REGION         2
REG_REGION_NOT_WORK_REGION         2
LIVE_REGION_NOT_WORK_REGION        2
REG_CITY_NOT_LIVE_CITY             2
REG_CITY_NOT_WORK_CITY             2
LIVE_CITY_NOT_WORK_CITY            2
ORGANIZATION_TYPE                 50
EXT_SOURCE_1                     392
EXT_SOURCE_2                     986
EXT_SOURCE_3                     374
APARTMENTS_AVG                   211
BASEMENTAREA_AVG                 323
YEARS_BEGINEXPLUATATION_AVG       80
YEARS_BUILD_AVG                   74
COMMONAREA_AVG                   224
ELEVATORS_AVG                     27
ENTRANCES_AVG                     41
FLOORSMAX_AVG                     34
FLOORSMIN_AVG                     30
LANDAREA_AVG                     315
LIVINGAPARTMENTS_AVG             156
LIVINGAREA_AVG                   427
NONLIVINGAPARTMENTS_AVG           28
NONLIVINGAREA_AVG                196
APARTMENTS_MODE                  177
BASEMENTAREA_MODE                308
YEARS_BEGINEXPLUATATION_MODE      82
YEARS_BUILD_MODE                  73
COMMONAREA_MODE                  226
ELEVATORS_MODE                    16
ENTRANCES_MODE                    20
FLOORSMAX_MODE                    20
FLOORSMIN_MODE                    16
LANDAREA_MODE                    308
LIVINGAPARTMENTS_MODE            137
LIVINGAREA_MODE                  427
NONLIVINGAPARTMENTS_MODE          17
NONLIVINGAREA_MODE               183
APARTMENTS_MEDI                  196
BASEMENTAREA_MEDI                315
YEARS_BEGINEXPLUATATION_MEDI      80
YEARS_BUILD_MEDI                  73
COMMONAREA_MEDI                  222
ELEVATORS_MEDI                    20
ENTRANCES_MEDI                    27
FLOORSMAX_MEDI                    25
FLOORSMIN_MEDI                    22
LANDAREA_MEDI                    308
LIVINGAPARTMENTS_MEDI            147
LIVINGAREA_MEDI                  430
NONLIVINGAPARTMENTS_MEDI          20
NONLIVINGAREA_MEDI               194
FONDKAPREMONT_MODE                 5
HOUSETYPE_MODE                     4
TOTALAREA_MODE                   444
WALLSMATERIAL_MODE                 8
EMERGENCYSTATE_MODE                3
OBS_30_CNT_SOCIAL_CIRCLE          17
DEF_30_CNT_SOCIAL_CIRCLE           5
OBS_60_CNT_SOCIAL_CIRCLE          16
DEF_60_CNT_SOCIAL_CIRCLE           5
DAYS_LAST_PHONE_CHANGE           708
FLAG_DOCUMENT_2                    1
FLAG_DOCUMENT_3                    2
FLAG_DOCUMENT_4                    1
FLAG_DOCUMENT_5                    2
FLAG_DOCUMENT_6                    2
FLAG_DOCUMENT_7                    1
FLAG_DOCUMENT_8                    2
FLAG_DOCUMENT_9                    2
FLAG_DOCUMENT_10                   1
FLAG_DOCUMENT_11                   2
FLAG_DOCUMENT_12                   1
FLAG_DOCUMENT_13                   2
FLAG_DOCUMENT_14                   2
FLAG_DOCUMENT_15                   2
FLAG_DOCUMENT_16                   2
FLAG_DOCUMENT_17                   1
FLAG_DOCUMENT_18                   2
FLAG_DOCUMENT_19                   1
FLAG_DOCUMENT_20                   1
FLAG_DOCUMENT_21                   1
AMT_REQ_CREDIT_BUREAU_HOUR         3
AMT_REQ_CREDIT_BUREAU_DAY          3
AMT_REQ_CREDIT_BUREAU_WEEK         5
AMT_REQ_CREDIT_BUREAU_MON         10
AMT_REQ_CREDIT_BUREAU_QRT          5
AMT_REQ_CREDIT_BUREAU_YEAR        11
dtype: int64

---

# Retrieve numerical/ categorical variable columns from a dataframe

In [106]:
def get_num_df (data_df, unique_value_threshold: int):
    """ 
    Output: a new dataframe with columns of numerical variables from the input dataframe.
    Input: 
        data_df: original dataframe, 
        unique_value_threshold(int): number of unique values of each column
    e.g. If we define a column with > 3 unique values as being numerical variable, unique_value_threshold = 3
    """
    num_mask = data_df.apply(lambda x:x.unique().shape[0] > unique_value_threshold,axis=0) 
    num_df = data_df[data_df.columns[num_mask]]
    return num_df

def get_cat_df (data_df, unique_value_threshold: int):
    """ 
    Output: a new dataframe with columns of categorical variables from the input dataframe.
    Input: 
        data_df: original dataframe, 
        unique_value_threshold(int): number of unique values of each column
    e.g. If we define a column with =<3 unique values as being numerical variable, unique_value_threshold = 3
    """
    cat_mask = data_df.apply(lambda x:x.unique().shape[0] <= unique_value_threshold,axis=0) 
    cat_df = data_df[data_df.columns[cat_mask]]
    return cat_df

In [107]:
assert get_cat_df(dfp, 3).columns.size + get_num_df(dfp, 3).columns.size == dfp.columns.size

---

### 空值

In [93]:
# 含空值欄位占比
print(f"{dfp.isnull().any().sum()} in {dfp.shape[1]} columns (ratio: {(dfp.isnull().any().sum()/dfp.shape[1]).round(2)}) have empty value(s)")

63 in 122 columns (ratio: 0.52) have empty value(s)