Notice: This notebook is not optimized for memory nor performance yet. Please use it with caution when handling large datasets.

# Feature engineering

Using application train+test as the first target, then consider aggregation (grouping) issue across the tables

### Prepare work environment

In [1]:
# Pandas for managing datasets
import numpy as np
import pandas as pd

In [2]:
np.__version__, pd.__version__

('1.17.4', '0.25.3')

In [3]:
# math for operating numbers
import math

In [4]:
import gc

In [5]:
# Change pd displayg format for float
pd.options.display.float_format = '{:,.4f}'.format

In [6]:
# Just an easy way to completely show a dataframe in a cell
def completeShow(dfToShow, rowLimit:int = 1000, colLimit:int = 1000):
    '''
    An easy way to completely show a dataframe in a cell.
    dfToShow: dataframe you'd like to completely show
    rowLimit: upper limit of the row number, could be None or any integer (default: 1000)
    colLimit: upper limit of the column number, could be None or any integer  (default: 1000)
    '''
    with pd.option_context('display.max_rows', rowLimit, 'display.max_columns', colLimit):
        print(dfToShow)
    
# to show complete output of a cell: eg.
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     print(df.apply(lambda x:x.unique().size))

In [7]:
# Matplotlib for additional customization
from matplotlib import pyplot as plt
%matplotlib inline

In [8]:
# Seaborn for plotting and styling
import seaborn as sns
#Seaborn set() to set aesthetic parameters in one step.
sns.set()

---

## To Study:

In [9]:
# for memory management
# !pip install psutil
# https://psutil.readthedocs.io/en/latest/

# import os, psutil, gc
# def usage():
#     process = psutil.Process(os.getpid())
#     return process.memory_info()[0] / float(2 ** 20)

In [10]:
# ToRead: multi-threading
# http://violin-tao.blogspot.com/2017/05/python3_26.html
# https://medium.com/@peilee_98185/%E6%94%BE%E9%96%8B%E9%82%A3%E8%A8%98%E6%86%B6%E9%AB%94-%E4%B9%8B-python-%E8%99%95%E7%90%86%E5%A4%A7%E8%B3%87%E6%96%99-84fd41806694
# import multiprocessing as mp
# pool = mp.Pool(6) # 裡面填要開幾核心
# result = pool.map( data_process_function, dfs )
# # dfs 為裝了很多 Pandas DataFrame 的 list

---

### Read & combine datasets

In [11]:
# Read dataset
appl_train_df = pd.read_csv('../../../BDSE12-Group3/datasets/homecdt_eda/application_train.csv')
appl_test_df = pd.read_csv('../../../BDSE12-Group3/datasets/homecdt_eda/application_test.csv')

In [12]:
appl_train_df.shape

(307511, 122)

In [13]:
appl_test_df.shape

(48744, 121)

In [14]:
# Combine application_train and application_test
appl_all_df = pd.concat([appl_train_df, appl_test_df], sort=False, ignore_index=True)

In [15]:
appl_all_df.shape

(356255, 122)

In [16]:
appl_all_df.apply(lambda x:x.unique().size).describe()

count       122.0000
mean      6,356.8279
std      36,078.9863
min           2.0000
25%           2.0000
50%          26.0000
75%       1,153.0000
max     356,255.0000
dtype: float64

In [17]:
appl_all_df['TARGET'].unique(), \
appl_all_df['TARGET'].unique().size

(array([ 1.,  0., nan]), 3)

In [18]:
appl_all_df['TARGET'].value_counts()

0.0000    282686
1.0000     24825
Name: TARGET, dtype: int64

In [19]:
appl_all_df['TARGET'].isnull().sum(), \
appl_all_df['TARGET'].size, \
(appl_all_df['TARGET'].isnull().sum()/appl_all_df['TARGET'].size).round(4)

(48744, 356255, 0.1368)

In [20]:
# Make sure we can use the nullness of 'TARGET' column to separate train & test
assert appl_all_df['TARGET'].isnull().sum() == appl_test_df.shape[0]

---

#### Integration from other tables?

---

## Randomized sampleing:

#### If the dataset is too large, I would proceed the following randomized sampling from original dataset to facilitate development and testing

In [21]:
# Randomized sampling from original dataset.
# This is just for simplifying the development process
# After coding is complete, should replace all df-->df, and remove this cell
# Reference: https://yiidtw.github.io/blog/2018-05-29-how-to-shuffle-dataframe-in-pandas/

# df= appl_all_df.sample(n = 1000).reset_index(drop=True)
# df.shape

In [22]:
# df.head()

---

## Tool: Get numerical/ categorical variables(columns) from a dataframe

In [23]:
def get_num_df (data_df, unique_value_threshold: int):
    """ 
    Output: a new dataframe with columns of numerical variables from the input dataframe.
    Input: 
        data_df: original dataframe, 
        unique_value_threshold(int): number of unique values of each column
    e.g. If we define a column with > 3 unique values as being numerical variable, unique_value_threshold = 3
    """
    num_mask = data_df.apply(lambda x:x.unique().size > unique_value_threshold,axis=0) 
    num_df = data_df[data_df.columns[num_mask]]
    return num_df

def get_cat_df (data_df, unique_value_threshold: int):
    """ 
    Output: a new dataframe with columns of categorical variables from the input dataframe.
    Input: 
        data_df: original dataframe, 
        unique_value_threshold(int): number of unique values of each column
    e.g. If we define a column with =<3 unique values as being numerical variable, unique_value_threshold = 3
    """
    cat_mask = data_df.apply(lambda x:x.unique().size <= unique_value_threshold,axis=0) 
    cat_df = data_df[data_df.columns[cat_mask]]
    return cat_df

In [24]:
# Be careful when doing this assertion with large datasets
# assert get_cat_df(appl_all_df, 3).columns.size + get_num_df(appl_all_df, 3).columns.size == appl_all_df.columns.size

---

#### Splitting id_target_df, cat_df, num_df

In [25]:
# Separate id and target columns before any further processing
# id_target_df = appl_all_df.iloc[:,:2]
id_target_df = appl_all_df.loc[:, ['SK_ID_CURR','TARGET']] # modified 2020/01/31

# Get the operating appl_all_df by removing id and target columns
# appl_all_df_opr = appl_all_df.iloc[:,2:]
appl_all_df_opr = appl_all_df.drop(['SK_ID_CURR','TARGET'], axis=1) # modified 2020/01/31

# A quick check of their shapes
appl_all_df.shape, id_target_df.shape, appl_all_df_opr.shape

((356255, 122), (356255, 2), (356255, 120))

In [26]:
# Spliting the numerical and categorical variable containing columns via the tools decribed above.
cat_df = get_cat_df (appl_all_df_opr, 100)
num_df = get_num_df (appl_all_df_opr, 100)

In [27]:
# A quick check of their shapes
appl_all_df_opr.shape, cat_df.shape, num_df.shape

((356255, 120), (356255, 73), (356255, 47))

In [28]:
assert cat_df.shape[1] + num_df.shape[1] + id_target_df.shape[1] \
    == appl_all_df_opr.shape[1] + id_target_df.shape[1] \
    == appl_all_df.shape[1]

assert cat_df.shape[0] == num_df.shape[0] == id_target_df.shape[0] \
    == appl_all_df_opr.shape[0] \
    == appl_all_df.shape[0]

In [29]:
# # Apply the following gc if memory is running slow
# appl_all_df_opr.info()
# del appl_all_df_opr
# gc.collect()

---

## Dealing with categorical variables

#### Transform to String (i.e., python object) and fill nan with String 'nan'

In [30]:
cat_df_obj = cat_df.astype(str)

In [31]:
assert np.all(cat_df_obj.dtypes) == object

In [32]:
# The float nan will be tranformed to String 'nan'
# Use the below assertion carefully when dealing with extra-large datasets
assert cat_df.isnull().equals(cat_df_obj.isin({'nan'}))

In [33]:
# There are no NA left
assert all(cat_df_obj.isnull().sum())==0

#### Dealing with special columns

Replace 'nan' with 'not specified' in column 'FONDKAPREMONT_MODE'

In [34]:
# Do the replacement and re-assign the modified column back to the original dataframe
cat_df_obj['FONDKAPREMONT_MODE'] = cat_df_obj['FONDKAPREMONT_MODE'].replace('nan','not specified')

In [35]:
# check again the unique value, it should be 1 less than the original cat_df
assert cat_df['FONDKAPREMONT_MODE'].unique().size == cat_df_obj['FONDKAPREMONT_MODE'].unique().size +1

#### Do one-hot encoding

Check the input dataframe (i.e., cat_df_obj)

In [36]:
cat_df_obj.shape

(356255, 73)

In [37]:
cat_df_obj.apply(lambda x:x.unique().size).sum()

906

In [38]:
# ?pd.get_dummies

In [39]:
# pd.get_dummies() method deals only with categorical variables.
# Although it has a built-in argument 'dummy_na' to manage the na value, 
# our na value has already been converted to string object which are not recognized by the method.
# Let's just move forward as planned
cat_df_obj_ohe = pd.get_dummies(cat_df_obj, drop_first=True)
cat_df_obj_ohe.shape

(356255, 833)

In [40]:
# Make sure the ohe is successful
assert np.all(np.isin(cat_df_obj_ohe.values,[0,1])) == True
# cat_df_obj_ohe.dtypes
assert np.all(cat_df_obj_ohe.dtypes) == 'uint8'
# make sure the column counts are correct
assert cat_df_obj.apply(lambda x:x.unique().size).sum() == cat_df_obj_ohe.shape[1] + cat_df_obj.shape[1]

In [41]:
# %timeit np.isin(cat_df_obj_ohe.values,[0,1])
# # 1.86 s ± 133 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

# %timeit cat_df_obj_ohe.isin([0 , 1])
# # 3.38 s ± 32.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [42]:
# %timeit np.all(np.isin(cat_df_obj_ohe.values,[0,1]))
# # 1.85 s ± 28 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

# %timeit np.all(cat_df_obj_ohe.isin([0 , 1]))
# # 3.47 s ± 193 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

---

## Dealing with numerial variables

#### Get na flags

In [43]:
num_df.shape

(356255, 47)

In [44]:
# How many columns contain na value.
num_df.isna().any().sum()

41

In [45]:
num_isna_df = num_df[num_df.columns[num_df.isna().any()]]
num_notna_df = num_df[num_df.columns[num_df.notna().all()]]
num_isna_df.shape, num_notna_df.shape
assert num_isna_df.shape[1] + num_notna_df.shape[1] == num_df.shape[1]
assert num_isna_df.shape[0] == num_notna_df.shape[0] == num_df.shape[0]

In [46]:
# num_df.isna().any(): column names for those na containing columns
# use it to transform values bool to int, and then add suffix on the column names to get the na-flag df
num_naFlag_df = num_isna_df.isna().astype(int).add_suffix('_na')
num_naFlag_df.shape

(356255, 41)

#### replace na with zero

In [47]:
num_isna_df = num_isna_df.fillna(0)
num_isna_df.shape

(356255, 41)

In [48]:
num_isna_df.isna().any().sum()

0

In [49]:
assert num_isna_df.shape == num_naFlag_df.shape

In [50]:
num_df = pd.concat([num_notna_df,num_isna_df,num_naFlag_df], axis = 'columns')

In [51]:
assert num_notna_df.shape[1] + num_isna_df.shape[1] + num_naFlag_df.shape[1] == num_df.shape[1]

In [52]:
num_df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356255 entries, 0 to 356254
Columns: 88 entries, AMT_INCOME_TOTAL to DAYS_LAST_PHONE_CHANGE_na
dtypes: float64(44), int32(41), int64(3)
memory usage: 183.5 MB

#### Normalization (DO LATER!!)

##### Generally, in tree-based models, the scale of the features does not matter.
https://scikit-learn.org/stable/modules/preprocessing.html#normalization
https://datascience.stackexchange.com/questions/22036/how-does-lightgbm-deal-with-value-scale

---

## Combine to a complete, processed dataset

In [53]:
frames = np.array([id_target_df, cat_df_obj_ohe, num_df])

In [54]:
id_target_df.shape, cat_df_obj_ohe.shape, num_df.shape

((356255, 2), (356255, 833), (356255, 88))

In [55]:
appl_all_processed_df = pd.concat(frames, axis ='columns')
appl_all_processed_df.shape

(356255, 923)

In [56]:
assert appl_all_processed_df.shape[1] == id_target_df.shape[1] + cat_df_obj_ohe.shape[1] + num_df.shape[1]

In [65]:
appl_all_processed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356255 entries, 0 to 356254
Columns: 923 entries, SK_ID_CURR to DAYS_LAST_PHONE_CHANGE_na
dtypes: float64(45), int32(41), int64(4), uint8(833)
memory usage: 471.9 MB

---

## Balance the 'TARGET' column

In [57]:
appl_all_processed_df['TARGET'].value_counts()

0.0000    282686
1.0000     24825
Name: TARGET, dtype: int64

In [58]:
balanceFactor = ((appl_all_processed_df['TARGET'].value_counts()[0])/(appl_all_processed_df['TARGET'].value_counts()[1])).round(0).astype(int)
balanceFactor
# appl_all_processed_df['TARGET'].value_counts()[0]
# appl_all_processed_df['TARGET'].value_counts()[1]

11

In [59]:
default_df = appl_all_processed_df[appl_all_processed_df['TARGET']==1]
default_df.shape

(24825, 923)

In [60]:
default_df_balanced = pd.concat( [default_df] * (balanceFactor - 1), sort=False, ignore_index=True )
default_df_balanced.shape

(248250, 923)

In [61]:
appl_all_processed_df_balanced = pd.concat([appl_all_processed_df , default_df_balanced], sort=False, ignore_index=True)
appl_all_processed_df_balanced.shape

(604505, 923)

In [62]:
(appl_all_processed_df_balanced['TARGET'].unique(),
(appl_all_processed_df_balanced['TARGET'].value_counts()[1], \
appl_all_processed_df_balanced['TARGET'].value_counts()[0], \
appl_all_processed_df_balanced['TARGET'].isnull().sum()))

(array([ 1.,  0., nan]), (273075, 282686, 48744))

In [64]:
appl_all_processed_df_balanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604505 entries, 0 to 604504
Columns: 923 entries, SK_ID_CURR to DAYS_LAST_PHONE_CHANGE_na
dtypes: float64(45), int32(41), int64(4), uint8(833)
memory usage: 800.8 MB

## Export to CSV

In [63]:
appl_all_processed_df_balanced.to_csv('../../../BDSE12-Group3/datasets/homecdt_ss_output/ss_fteng_appl_all_v2_20200201_balanced.csv', index = False)

---

Coded below are not executed (2020/02/01)

---

---

# Todo

Todo:
* cleaning:
    * num_df: normalize with z-score
* feature engineering:
    * make reciprocol, polynomial columns of the existing columns. 1/x, x^x.
    * multiplying each columns, two columns at a time.
    * asset items, income items, willingness(history + misc profile) items, loading(principle + interest) items
    * Integration from other tables?

https://ithelp.ithome.com.tw/articles/10202059
https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame
https://www.kaggle.com/parasjindal96/how-to-normalize-dataframe-pandas

---

## EDA

### Quick check for numerical columns

In [ ]:
numcol = df['CNT_FAM_MEMBERS']

In [ ]:
numcol.describe(), \
numcol.isnull().sum(), \
numcol.size

In [ ]:
numcol.value_counts(sort=True), numcol.unique().size

In [ ]:
# numcol_toYear = pd.to_numeric(\
#                               ((numcol.abs() / 365) \
#                                .round(0)) \
#                               ,downcast='integer')
# numcol_toYear.describe()

In [ ]:
# numcol_toYear.value_counts(sort=True), numcol_toYear.unique().size

### Quick check for categorical columns

In [ ]:
catcol = df['HOUR_APPR_PROCESS_START']

In [ ]:
catcol.unique(), \
catcol.unique().size

In [ ]:
catcol.value_counts(sort=True)

In [ ]:
catcol.isnull().sum(), \
catcol.size

In [ ]:
catcol.isnull().sum(), \
catcol.size

## Appendix

### Tool: Getting summary dataframe

In [ ]:
# might not be very useful at this point
def summary_df (data_df):
    """ 
    Output: a new dataframe with summary info from the input dataframe.
    Input: data_df, the original dataframe
    """
    summary_df = pd.concat([(data_df.describe(include='all')), \
           (data_df.dtypes.to_frame(name='dtypes').T), \
           (data_df.isnull().sum().to_frame(name='isnull').T), \
           (data_df.apply(lambda x:x.unique().size).to_frame(name='uniqAll').T)])
    return summary_df

def data_quality_df (data_df):
    """ 
    Output: a new dataframe with summary info from the input dataframe.
    Input: data_df, the original dataframe
    """
    data_quality_df = pd.concat([(data_df.describe(include='all')), \
           (data_df.dtypes.to_frame(name='dtypes').T), \
           (data_df.isnull().sum().to_frame(name='isnull').T), \
           (data_df.apply(lambda x:x.unique().size).to_frame(name='uniqAll').T)])
    return data_quality_df.iloc[[11,13,12,0,],:]

In [ ]:
data_quality_df(appl_all_df)

In [ ]:
# df.to_csv(file_name, encoding='utf-8', index=False)
# data_quality_df(df).to_csv("./eda_output/application_train_data_quality.csv")

In [ ]:
df['CNT_CHILDREN'].value_counts()

In [ ]:
df['CNT_CHILDREN'].value_counts().sum()

In [ ]:
df.describe()

In [ ]:
summary_df(df)

In [ ]:
# df.to_csv(file_name, encoding='utf-8', index=False)
# summary_df(df).to_csv("./eda_output/application_train_summary_df.csv")

---

### .nunique() function

In [ ]:
# nunique() function excludes NaN 
# i.e. it does not consider NaN as a "value", therefore NaN is not counted as a "unique value"
df.nunique()

In [ ]:
df.nunique() == df.apply(lambda x:x.unique().shape[0])

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].unique().shape[0]

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].nunique()

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].unique().size

### .value_counts() function

In [ ]:
# .value_counts() function has similar viewpoint towards NaN.
# i.e. it does not consider null as a value, therefore not counted in .value_counts()

In [ ]:
df['NAME_TYPE_SUITE'].value_counts()

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].isnull().sum()

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].size

In [ ]:
df['AMT_REQ_CREDIT_BUREAU_YEAR'].value_counts().sum() + df['AMT_REQ_CREDIT_BUREAU_YEAR'].isnull().sum() == \
df['AMT_REQ_CREDIT_BUREAU_YEAR'].size

### 重複值

In [ ]:
# Counting unique values (cf. .nunique() function, see above section)
# This code was retrieved from HT

df.apply(lambda x:x.unique().shape[0])

In [ ]:
# It is the same if you write (df.apply(lambda x:x.unique().size))
assert (df.apply(lambda x:x.unique().shape[0])==df.apply(lambda x:x.unique().size)).all

In [ ]:
# # %timeit showed the performances are similar
# %timeit df.apply(lambda x:x.unique().shape[0])
# %timeit df.apply(lambda x:x.unique().size)

### 空值

In [ ]:
# 含空值欄位占比
print(f"{df.isnull().any().sum()} in {df.shape[1]} columns (ratio: {(df.isnull().any().sum()/df.shape[1]).round(2)}) has empty value(s)")