This is based on 'bear_Final_model' released 2020/01/23

In [1]:
# The suggested conda command didn't seem to work
# ! conda install -c conda-forge lightgbm
# ! pip install lightgbm

In [2]:
# Forked from excellent kernel : https://www.kaggle.com/jsaguiar/updated-0-792-lb-lightgbm-with-simple-features
# From Kaggler : https://www.kaggle.com/jsaguiar
# Just added a few features so I thought I had to make release it as well...

import numpy as np
import pandas as pd
import gc
import time
from contextlib import contextmanager
import lightgbm as lgb
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import csv

In [25]:
submission_df = pd.read_csv('../../../BDSE12-Group3/datasets/homecdt_model/ss_output/20200128_submission_LightGBM.csv', \
                           engine ='python')

In [26]:
submission_df['SK_ID_CURR'] = submission_df['SK_ID_CURR'].astype('int')

In [27]:
submission_df.dtypes

SK_ID_CURR      int32
TARGET        float64
dtype: object

In [28]:
submission_df

       SK_ID_CURR    TARGET
0          100001  0.263968
1          100005  0.683026
2          100013  0.143426
3          100028  0.286722
4          100038  0.714148
...           ...       ...
48739      456221  0.266606
48740      456222  0.505575
48741      456223  0.303984
48742      456224  0.450848
48743      456250  0.606998

[48744 rows x 2 columns]

In [30]:
submission_df.to_csv('../../../BDSE12-Group3/datasets/homecdt_model/ss_output/20200128_submission_LightGBM_dtype_adj.csv', index =False)